*{
  font-family: 'Noto Sans';
}
#diseases {
  background-color: #FF6E4F;
}
a{
  text-decoration: none;
  color: #FF6E4F;
}
.communicable{
  background-image: url("slash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.75;
  font-style: bold;
  object-fit: fill;

  max-width: 100%;
  height: auto;
  padding: 25px;
  color: #black;
  font-size: 20px;
  text-align: center;
}

#title{
  text-align:center;
  color: #2E4450;
  font-size: 24px;
}

.listbox{
  background-color: white;
  padding: 200px;
  align-items: center;
}

.box{
  box-sizing: content-box;
  max-width: 100%; height: auto;
  margin: 20px;
  padding: 25px;
  background-color: #c4f3f6;
  display: block; //updown
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.explain{
  display:flex; //sidebyside
  align-items:center;
}

.video{
  float: left;
  align-items :center;
  background-color: #F9F9F9;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;

  color: #FF6E4F;
  letter-spacing: 2px;
}

.desc{
  box-sizing: content-box;
  width: 350px;
  height: auto;
  margin: 10px;

  text-align: justify;
  color: #2E4450;
  padding: 20px;
  background-color: #F9F9F9;
  border-radius: 10px;
}
.refer{
  text-align: center;
  text-decoration: none;
  background-color: #c4f3f9;
  padding: 15px;
}
