/*Footer*/

.footer {
  background-color: #2e4450;
  text-align: center;
  padding: 5px;
}

.secFooter p {
  text-align: center;
  padding: 7px;
  font-size: 13px;
  color: white;
  display: inline-block;
}
